
#*******************************************************************************
#  Copyright (c) 2020 The Linux Foundation. All rights reserved.
#
#  SPDX-License-Identifier: Linux-OpenIB
#
#******************************************************************************

fdatasync: 1
getdents64: 1
gettimeofday: 1
#ioctl: arg1 == _IOC(_IOC_NONE || arg1 == _IOC(_IOC_READ || arg1 == VSOC_MAYBE_SEND_INTERRUPT_TO_HOST
lseek: 1
madvise: 1
mkdirat: 1
pwrite64: 1

timerfd_create: 1
timerfd_settime: 1
epoll_create1: 1
epoll_pwait: 1
epoll_ctl: 1
