
#*******************************************************************************
#  Copyright (c) 2020 The Linux Foundation. All rights reserved.
#
#  SPDX-License-Identifier: Linux-OpenIB
#
#******************************************************************************

unlinkat: 1
sched_getaffinity: 1
