#*******************************************************************************
#  Copyright (c) 2020 The Linux Foundation. All rights reserved.
#
#  SPDX-License-Identifier: Linux-OpenIB
#
#******************************************************************************
bind: 1
getrlimit: 1

pipe2: 1

sched_getaffinity: 1
timerfd_create: 1
unlinkat: 1
setpriority: 1

epoll_create1: 1
epoll_ctl: 1
epoll_pwait: 1
timerfd_settime: 1

fdatasync: 1
madvise: 1
ftruncate: 1

